# Automatically build the project and run any configured tests for every push
# and submitted pull request. This can help catch issues that only occur on
# certain platforms or Java versions, and provides a first line of defence
# against bad commits.

name: build
on: [pull_request, push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: adopt
          java-version: 17

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Make Gradle Wrapper Executable
        run: chmod +x ./gradlew

      - name: build
        run: ./gradlew build

      - name: Upload Fabric Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: fabric-artifacts
          path: fabric/build/libs/

      - name: Upload Forge Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: forge-artifacts
          path: forge/build/libs/
